<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% if authenticated? %>
    <%= link_to "New post", new_post_path %>
<% end %>

<h1>Post</h1>
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

<div id="post">
  <% @posts.each do |post|%>
    <div>
     <%= link_to post.title, post %>
    </div>
  <% end %>
  
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if params[:page].to_i > 1 %>
        <li class="page-item"><%= link_to "Previous", root_path(page: params[:page].to_i - 1), {class: "page-link"} %></li>
    <% end %>
    <% if @posts.size == @per_page %>
        <li class="page-item"><%= link_to "Next", root_path(page: (params[:page] || 1).to_i + 1), {class: "page-link"} %></li>
    <% end %>
  </ul>
</nav>
