<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% if authenticated? %>
    <%= link_to "New post", new_post_path %>
<% end %>

<h1>Post</h1>
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

<div id="post">
  <% @posts.each do |post|%>
    <div>
     <%= link_to post.title, post %>
    </div>
  <% end %>
</div>
